*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    text-decoration: none;
    list-style: none;
   
}

.navigation{
    
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 42.62%;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #222527;

    background: #FFFFFF;
    border: 1px solid rgba(124, 124, 124, 0.25);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
   
    transition: all 0.5s;
    
}

 .navigation ul{
     display: flex;
     align-items: center;
     gap: 5rem;
 }
 
.navigation .logo{
    
    height: 78px;
    width: 211px;
    left: 49px;
    top: 16px;
    border-radius: 0px;
    
    
   
    
}
 .navigation .nav-item{
     cursor: pointer;
       
 }
 .menu .bar{
    left: 93.47%;
    right: 3.75%;
    top: 36.84%;
    bottom: 40.79%;
     
 }
 .livro-capa{
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: space-between;
   padding: 5px;
   width: 19%;
    

 }

 .btn_visu{
    background-color: white;
    box-sizing: border-box;
    width: 200px;
    height: 80px;
    left: 45px;
    top: 628px;
    padding: 37px 0px ;
    border: 3px solid #0078D4;
    border-radius: 70px;
    margin-top: 40px;
    margin-left: 60px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 5px;
    cursor: pointer;   
    display: flex;
    align-items: center;
    justify-content:center ;
 }
 .livro_detalhe{
    width: 60%;
    height: 215px;
    margin-top: 20px;
    top: 218px;
    font-family: 'Libre Franklin';
    font-style: normal;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    justify-content:  center;
    margin-right: 20px;
   
 }

 .livro_detalhe .container-detalhe-superior {
   max-height: 830px;
   
    
 }
  
 
 .agrupa_livros{
     
    max-width: 100vw;
     display:flex ;
     flex-direction: row;
     padding: 20px;
     
 }
 .grid-container {
   display: grid;
   grid-template-columns: auto auto;   
   padding: 5px;
   margin-right: 180px;
 }


 
 .sinopse{   
   margin-top: 10px;    
   text-align: ;  
   margin-left: 90px; 
}
 .titulo{        
      
        font-family: Libre Franklin;
        font-size: 26px;
        margin-top: 15px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;       
        margin-left: 220px;
        text-align: center;
    
 }

 


 .footer{

 
      display: flex;
      justify-content: center;
      margin-top: -120px;
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      padding: 100px;
      margin-left: 200px;
   
      }

  
 
body {
   padding: 5px;
   background-color: #baccdf;
   color: black;
   font-size: 25px;
   
 }
 
 .dark-mode {
   background-color: #3a3a3a;
   color: white;
 }
 .header-container {
   display: flex;
   padding: 1rem;
   padding-bottom: 1.25rem;
   padding-left: 3rem;
   justify-content: space-between;
   border-bottom: 1px solid #d1d5db;
 }


 .nav-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5rem;
 }

 button {
   background-color: transparent;
   background-repeat: no-repeat;
   border: none;
   cursor: pointer;
   overflow: hidden;
   outline: none;
 }
 


@media only screen and (max-width: 930px) {
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Popins', sans-serif;
      text-decoration: none;
      list-style: none;
     
  } 


  .livro-capa{

   display: grid;
   align-items: center;
   text-align: center;
   justify-content: space-between;
   padding: 5px;
   width: 20%;
  }





  .titulo{
   margin-top: 78px;

  }
   
}

 
 @media only screen and (max-width: 520px) { 
 .agrupa_livros {
      flex-direction: column;
   }
   .agrupa_livros {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
   }
   .livro-container .btn_visu {
      display:inline-block;
   }
   .container-detalhe-superior .sinopse {
      text-align: center;
      width: 100%;
   }
   .livro_detalhe {
      width: 100%;
   }
   .livro-container {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
   }
} 